# Dependencies
node_modules/
# Build outputs
dist/
build/
lib/
coverage/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Docker volumes
data/

# Temporary files
tmp/
temp/

# notes
NOTES.md
_bin