extends layout

block content
  main.container
    h1 Identity Provider
    p You have reached the User Login & Consent Flow reference implementation!
    p This application will give you an idea of how you could implement the login and consent endpoints yourself. 
    //- p Keep in mind, that this application does not actually solve user login, it has only one user for testing.
    p For more information, visit the 
      a(href="https://github.com/callezenwaka/authenticate" target="_blank") GitHub repository.
