extends layout

block content
    main.container
        h1 Do you wish to log out?
        if error
            p.
                #{error}
        form(action=action,method="POST")
            input(type="hidden",name="_csrf",value=csrfToken)
            input(type="hidden",name="challenge",value=challenge)
            .button-group
                input(type="submit",id="accept",value="Yes" class="btn btn-primary")
                input(type="submit",id="reject",value="No" class="btn btn-primary")
