footer.main-footer
  .container
    .footer-content
      p &copy; #{new Date().getFullYear()} Demo Provider App
      p Powered by 
        a(href="https://www.ory.sh/hydra/" target="_blank") Ory Hydra